extends layout
block content
	div.kaitou
		ul.ul
			li #[a(href="#") 新闻]
			li #[a(href="#") hao123]
			li #[a(href="#") 地图]
			li #[a(href="#") 视频]
			li #[a(href="#") 贴吧]
			li #[a(href="#") 学术]
			li #[a(href="#") 登录]
			li #[a(href="#") 设置]
			li#li #[a(href="#") 更多产品]		
	div.logo
		img(src="images/logo.png")
	div.sousuokuang
		div.s_main
			div
				input(type="text")
				span.span1
		button.btn 百度一下
	div.foot
		div.logo2
			div
				img(src="images/ewm.png")
				p 手机百度
	div.footer
		div
			p
				a(href="#") 把百度设为主页
				a(href="#") 关于百度
				a(href="#") About  Baidu
				a(href="#") 百度推广
			p.p1
				©2017 Baidu 
				a(href="#") 使用百度前必读
				a(href="#") 意见反馈
				京ICP证030173号
				i.i1
				a(href="#") 京公网安备11000002000001号 
				i.i2
				
		
		