*{
	margin: 0;
	padding: 0;
}
.kaitou{
	overflow: hidden;
	position: relative;
}
.ul{
	list-style: none;
	margin-top: 20px;
	margin-left: 845px;
}
.ul li{
  float: left;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
  font-size: 13px;
  text-decoration: underline;
}
.ul li a{
	text-decoration: none;
	color: black;
}
#li{
  width: 60px;
  height: 23px;
  background: #38f;
  line-height: 24px;
  font-size: 13px;
  margin-left: 19px;
  margin-right: 2px;
  text-align: center;
  text-decoration: none;
}
#li a{
	color: white;
}
.logo{
	text-align: center;
}
.logo img{
	  width: 270px;
    height: 129px;
}
.sousuokuang{
	width: 650px;
	height: 38px;
	margin: 22px auto 0;
	overflow: hidden;
}
.s_main{
	width: 529px;
	height: 34px;
	border: 1px solid #b6b6b6;
	float: left;
	position: relative;
}
.s_main>div>input{
	width: 500px;
	height: 30px;
	border: none;
	outline: none;
	text-indent: 20px;
}
.span1{
	  z-index: 1;
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: url(../images/camera.png) no-repeat;
    cursor: pointer;
}
.btn{
	float: left;
	width: 100px;
  height: 36px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  background: #3385ff;
  border-bottom: 1px solid #2d78f4;
  border: none;
}
.logo2{
	text-align: center;
	margin-top: 200px;
  width: 100%;
}
.logo2>div:nth-child(1)>p{
	font-size: 12px;
	color: #999;
	font-weight: bold;
}
.footer{
	text-align: center;
	line-height: 22px;
	margin-top: 15px;
}
.footer>div>p:nth-child(1)>a{
	font-size: 12px;
	color: #999;
	display: inline;
	margin-left: 27px;
}
.p1{
	font-size: 12px;
	color: #999;
}
.p1>a{
	color: #999;
}
.i1{
	width: 14px;
  height: 17px;
  display: inline-block;
  overflow: hidden;
  background: url(../images/icons.png);
  background-position: -600px -96px;
  position: relative;
  top: 3px;
  margin-left: 5px;
  margin-right: 15px;
}
.i2{
  width: 14px;
  height: 17px;
  display: inline-block;
  overflow: hidden;
  background: url(../images/icons.png);
  background-position: -623px -96px;
  position: relative;
  top: 3px;
 
}